/* Style For the navbar */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* background: red; */
}
.navbar .mobile {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 20px;
  margin: 15px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.logo img {
  margin: 6px 5px;
}
#cam-logo {
  width: 25px;
  height: 25px;
  /* transform: scaleX(-1); */
}

.navbar {
  position: absolute;
  width: 100%;
  min-height: 70px;
  z-index: 10;
}

.nav-links {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  width: 45%;
  list-style: none;
}

.nav-links li {
  padding: 10px 18px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.snu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(40% - 20% - 40px);
  transform: scale(0.94);
}

.snu > * {
  cursor: pointer;
}

.snu .search {
  border: none;
  border-radius: 50%;
  background: none;
  outline: none;
  padding: 8px;
}

.snu .search:hover {
  /* background: rgba(0, 0, 0, .2); */
  background: rgba(red, green, blue, 1);
}

.snu .notification {
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0px;
}

.snu #notification-number {
  position: relative;
  font-size: 10px;
  background: var(--apps-red);
  padding: 2px 5px; 
  border-radius: 50%;
  top: -13px;
  right: 6.5px;
}

.user-avatar  > img {
  border-radius: 50%;
  border: 1px solid var(--apps-red);
  width: 37px;
  height: 37px;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: scale(0.9);
}

.user-avatar .number-of-users {
  font-size: 10px;
}

/* Styles For Find Friends Section */
.find-friends {
  width: 290px;
  height: 100vh;
  background: none;
  position: absolute;
  padding: 15px 10px;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.6s ease-in-out;
  /* transform: translateX(-290px); */
}


.find-friends .find-input {
  display: flex;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 6px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.find-friends #find_friends {
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
  padding: 3px 5px;
}

.find-friends .find-input > span:first-of-type {
  transform: translateY(7px);
}

.find-friends .closeFindFriends {
  border: none;
  outline: none;
  background: none;
  font-size: 27px;
  color: grey;
  cursor: pointer;
}


/* Styles for mobile Nav */
@media screen and (max-width: 830px) {
  .navbar {
    /* background: red; */
    min-height: 50px;
    padding: 0 5px;
  }

  .navbar > *:not(.mobile) {
    display: none;
  }

  .navbar .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }

  .mobile .actions {
    display: flex;
    /* background: dodgerblue; */
  }

  .mobile .actions > * {
    cursor: pointer;
  }

  .mobile .icon {
    font-size: 26px;
    margin: 0 3px;
  }

  .mobile .burger {
    transform: translateY(3px);
    margin-right: 3px;
  }

  .mobile .burger > div {
    background: var(--font-color);
    width: 30px;
    height: 2.5px;
    border-radius: 15px;
    margin-bottom: 6px;
  }

  .mobile > .logo {
    /* background: dodgerblue; */
    text-align: center;
    height: auto;
  }
}