.banner {
  height: 100vh;
}
.rec-dot {
  border: none !important;
  border-radius: 4px !important;
  width: 70px !important;
  height: 1.2px;
  transform: scaleY(0.5) translateY(-80px);
  background: grey !important;
  box-shadow: none !important;
}
.rec-dot_active {
  background: rgb(235, 231, 231) !important;
}

/* Carousel container */
.carousel-container {
  height: calc(100vh - 10px);
}

/* Styles for the images */
.banner-item {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transform: scale(2.5, 2.5);
  /* object-fit: cover !important; */
}