/* Styles For Movies */

.movies {
  padding: 30px;
}

.movies .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.movies .top > h3 {
  padding: 5px 15px;
  border-bottom: 1.5px solid darkgrey;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}

.movies .top > h3.active {
  border-bottom: 1.5px solid var(--apps-red);
  font-size: 25px;
  font-size: bold;
}

/* Styles for genre selection area */
.movies .genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies .genres button {
  display: block;
  background: #2b2a30;
  padding: 9px 18px;
  margin: 10px 25px;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: white;
}

.movies .genres button:hover {
  filter: grayscale(70%);
}


/* Sort By Styles */
#sortAlphabet {
  background: var(--apps-red);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 5px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort select {
  color: var(--font-color);
}

.sort > div {
  display: inline;
}

.sort div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort div:last-child > * {
  margin: 3px;
}


.progress {
  display: block;
  background: grey;
  width: 280px;
  height: 4.5px;
  border-radius: 15px;
}

.progress .value {
  background: yellow;
  width: 70%;
  height: 100%;
  border-radius: 15px;
}


/* The styles for the plus area */
.plus-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.plus {
  border-radius: 50%;
  border: 5px solid grey;
  padding: 3px 8px;
  cursor: pointer;
}

.movies .displayMovies {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.movies .displayMovies > div {
  width: 251px;
  cursor: pointer;
}

.movies .displayMovies > div > * {
  pointer-events: none;
}

.movies .details {
  position: absolute;
  left: 50%;
  transform: translateX(-51.5%) translateY(315px);
  border-radius: 4px;
  width: 89%;
  height: 380px;
  background: #242426;
  box-shadow: 0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(0,0,0,.12),0 8px 12px 1px rgba(34,0,51,.04);
  z-index: 120;
}

.movies .details #arrow {
  /* background: #242426; */
  position: absolute;
  width: 45px;
  height: 45px;
  fill: #242426;
  transform: translateY(-45px);
}


.movies .details .vidShow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.movies .details .vidShow .icon {
  font-size: 45px;
  color: rgb(167, 157, 157);
  opacity: 0.65;
  cursor: pointer;
}

.movies .details .all-details {
  padding: 20px 15px 10px 15px;
  max-width: 30%;
  /* background: dodgerblue; */
  /* flex-grow: 1; */
}

.movies .details .all-details .title {
  display: flex;
  justify-content: space-between;
  /* background: red; */
}

.movies .details .all-details .title h3 {
  font-size: 25px;
  transform: translateY(-7px);
}

.movies .details .all-details .year-genre {
  font-size: large;
  font-weight: bold;
}

.movies .details .all-details .year-genre .dot {
  font-size: 9.5px;
  margin: 0 3px;
  transform: translate(1px, -3px);
}

.movies .details .all-details .desc {
  margin: 7px 0;
  font-size: 13px;
  /* font-weight: bold; */
}

.movies .details .all-details .desc > * {
  line-height: 10px;
}

.movies .details .all-details .director > span {
  font-weight: bold;
}

.movies .details .all-details .relMovies {
  font-weight: bold;
  font-size: 13px;
  float: right;
  position: relative;
  top: 90px;
}

.movies .details .all-details .closeBtn {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 90px;
  cursor: pointer;
  background: var(--font-color);
  color: #242426;
  padding: 0px 8px;
  border-radius: 3px;
}

@media screen and (max-width: 560px) {
  .movies .displayMovies > div {
    width: 100%;
  }

  .movies {
    padding: 30px 0;
  }

  .movies .sort {
    font-size: 17px;
    padding: 0 15px;
  }
  .movies .sort .progress {
    width: 100px;
  }
}

@media screen and (max-width: 700px) {
  .movies .genres button {
    padding: 5px 9px;
    font-size: 14.5px;
    margin: 5px 8px;
  }
}

@media screen and (max-width: 750px) {
  .movies .top {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .movies .details {
    flex-direction: column;
    height: auto;
  }
  .movies .details #arrow {
    width: 40px;
    height: 30px;
    transform: translate(100% ,-30px);
  }
  .movies .details .all-details {
    max-width: 100% !important;
    /* background: red; */
    font-size: 95%;
  }
  .movies .details .all-details > * {
    margin-bottom: 5px;
    /* width: 100% !important;  */
    /* background: red; */
  }
  .movies .details .vidShow {
    width: 100% !important;
    min-height: 190px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  .movies .details .all-details p.desc {
    display: none !important;
  }
  .movies .details .all-details .closeBtn, .movies .details .all-details .relMovies {
    position: static !important;
  }
}