/* Styles For Movies */

.movies {
  padding: 30px;
}

.movies .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.movies .top > h3 {
  padding: 5px 15px;
  border-bottom: 1.5px solid darkgrey;
  min-width: 150px;
  text-align: center;
}

.movies .top > h3.active {
  border-bottom: 1.5px solid var(--apps-red);
  font-size: 25px;
  font-size: bold;
}

/* Styles for genre selection area */
.movies .genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies .genres button {
  display: block;
  background: #2b2a30;
  padding: 9px 18px;
  margin: 10px 25px;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: white;
}

.movies .genres button:hover {
  filter: grayscale(70%);
}


/* Sort By Styles */
#sortAlphabet {
  background: var(--apps-red);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 5px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort select {
  color: var(--font-color);
}

.sort > div {
  display: inline;
}

.sort div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort div:last-child > * {
  margin: 3px;
}


.progress {
  display: block;
  background: grey;
  width: 280px;
  height: 4.5px;
  border-radius: 15px;
}

.progress .value {
  background: yellow;
  width: 70%;
  height: 100%;
  border-radius: 15px;
}


/* The styles for the plus area */
.plus-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.plus {
  border-radius: 50%;
  border: 5px solid grey;
  padding: 3px 8px;
  cursor: pointer;
}

.movies .displayMovies {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.movies .displayMovies > div {
  width: 251px;
}

.movies .details {
  position: absolute;
  left: 50%;
  transform: translateX(-51.5%) translateY(315px);
  border-radius: 4px;
  width: 89%;
  height: 370px;
  background: #242426;
  box-shadow: 0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(0,0,0,.12),0 8px 12px 1px rgba(34,0,51,.04);
  z-index: 120;
  display: flex;
  flex-wrap: wrap;
}

.movies .details #arrow {
  /* background: #242426; */
  position: absolute;
  width: 45px;
  height: 45px;
  fill: #242426;
  transform: translateY(-45px);
}


.movies .details .thumb {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies .details .all-details {
  padding: 10px;
  max-width: 360px;
}

.movies .details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-blend-mode: overlay; */
  background: rgba(230, 253, 253, 0.7);
  filter: sepia(10px);
}

@media screen and (max-width: 560px) {
  .movies .displayMovies > div {
    width: 100%;
  }

  .movies {
    padding: 30px 0;
  }

  .movies .sort {
    font-size: 17px;
    padding: 0 15px;
  }
  .movies .sort .progress {
    width: 100px;
  }

  .movies .details {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .movies .genres button {
    padding: 5px 9px;
    font-size: 14.5px;
    margin: 5px 8px;
  }
}

@media screen and (max-width: 750px) {
  .movies .top {
    display: none;
  }
}