.slick-dots li button {
  padding: 0 !important;
  background: white !important;
  color: red !important;
  width: 80px !important;
  height: 10px !important;
  border-radius: 5px !important;
  transform: scaleY(0.6);
  z-index: 3 !important;
}

.slick-dots li {
  /* background: black !important; */
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0px 10px !important;
  border-radius: 5px !important;
  /* transform: scaleY(0.8); */
  z-index: 3 !important;
  display: block;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li .slick-active {
  background: white !important;
}

button.slick-arrow.slick-next {
  display: none !important;
}

ul.slick-dots {
  transform: translateY(-2rem);
}

/* Details Styling */
.details {
  background-position: top;
  /* background-size: cover; */
  background-size: 100% 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 0.1rem);
}
.details .main-details:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 25px;
  border-radius: 8px;
}
.details .main-details {
  position: relative;
  width: 80%;
  min-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details .main-details > p {
  padding: 25px 0;
  font-size: 16px;
  font-weight: 600;
}

.details .main-details .genre {
  font-weight: bold;
  font-size: 20px;
}

.details .main-details #star {
  transform: translate(5px, 2px);
}

.details .main-details h3.title {
  font-size: 65px;
  font-weight: bold;
}

.details .main-details p.desc {
  width: 90%;
}

.details .main-details .buttons {
  height: 0px;
}

.details .main-details .buttons button {
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 10px 25px;
  font-weight: bold;
  cursor: pointer;
  color: var(--font-color);
}

.details .main-details .watch-btn {
  background: red;
  margin-right: 70px;
}

.details .main-details .addlist {
  background: black;
}

.details #watch-icon, .details #add-icon {
  transform: translateY(3.5px);
}


/* @media screen and (max-width: 970px) {
  .details .main-details .desc {
    max-height: 90px;
    overflow-y: hidden;
  }

  .details .main-details > p {
    padding: 12px 0;
    font-size: 14px;
  }

  .details .main-details > p > .genre {
    font-size: 15px;
  }

  .details .main-details h3.title {
    font-size: 28px;
  }

  .details .main-details .buttons > button {
    padding: 7px 9px;
    margin: 18px 5px;
    font-size: 16px;
  }
  
} */

@media screen and (max-width: 970px) {
  .details {
    max-height: 90vh;
  }
  .details .main-details p {
    display: none;
  }
  .details .main-details h3.title {
    text-align: center;
    font-size: 45px;
  }
  .details .main-details .buttons {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
  }
  .details .main-details .buttons > a button {
    padding: 7px 9px;
    margin: 18px 0;
    font-size: 16px;
  }
  /* .details .main-details .buttons > a button.addlist {
    background: dodgerblue;
  } */
}
