/* Styles for the User page */
.user-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--apps-black);
}

.user-page .main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 10px 30px 10px;
  background: #0d0d0d;
}

.user-page .main .dp {
  padding: 20px;
}

.user-page .main .dp img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 6px solid rgb(36, 34, 34); */
  border: 6px solid var(--apps-red);
}

.user-page .main .dp .editPic {
  background: var(--apps-red);

  padding: 2px 5px;
  font-size: 13.5px;
  transform: translate(-3.5rem, -7px);
}
.user-page .main .icons {
  transform: translate(0, 3px);
}
.user-page .special-nav {
  display: none;
}
.user-page .main .details {
  padding-top: 50px;
  max-width: 600px;
}

.user-page .main .details > div {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.user-page .main .details .name {
  background: var(--apps-grey);
  padding: 10px;
}

.user-page .main .details .name p {
  padding: 5px;
}

.user-page .main .details .name span {
  cursor: pointer;
}

.user-page .main .details .friends {
  background: var(--apps-grey);
  padding: 10px;
}

.user-page .main .details .friends > button:first-of-type {
  color: red;
  font-weight: bold;
}

.user-page .main .details .friends > button:last-of-type {
  font-weight: bold;
}

.user-page .main .details .friends > button {
  padding: 3px 5px;
  background: none;
  outline: none;
}

.user-page .main .details .bio {
  display: block;
  background: var(--apps-grey);
}

.user-page .main .details .bio p:first-of-type {
  font-weight: bold;
  margin: 5px;
  padding-top: 10px;
  text-align: center;
}

.user-page .main .details .bio .bio-desc {
  padding: 8px;
  font-size: 1rem;
}

.user-page .main .bordered {
  /* border:2px solid rgba(63, 62, 62, 0.9); */
  border:2px solid var(--apps-red);
  border-radius: 2px;
}

.user-page .main .details .collections {
  background: var(--apps-grey );
  /* border-radius: 3px; */
  padding: 10px;
  min-height: 240px;
  height: auto;
  margin: 60px 0 10px 0;
  width: 100%;
  display: block;
}

.user-page .main .details .collections > .center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-page .main .details .collections > .center > * {
  margin: 0 10px;
}

.user-page .main .interest {
  flex-grow: 1;
  display: flex;
  justify-content: right;  
}

.user-page .main .interest .all {
  max-width: 90%;
  min-width: 270px;
  height: auto;
  margin-right: 10px;
}

.user-page .main .interest .all .center {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.user-page .main .interest .all .center > * {
  margin: 0 10px;
}

.user-page .main .interest .all .content {
  padding: 40px 10px;
  background: rgb(36, 34, 34);
  /* border-radius: 3px; */
  font-size: 14px;
}

.user-page .main .interest .all .content .item {
  margin: 10px 0;
}



.user-page footer {
  background: #0d0d0d;
}

@media screen and (max-width: 1128px) {
  .user-page .main .interest .all {
    position: relative;
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 815px) {
  .user-page nav {
    display: none;
  }
  .user-page .special-nav {
    display: flex;
    background: var(--apps-black);
    min-height: 60;
    font-size: 20px;
    padding: 15px 10px;
  }

  .user-page .special-nav p {
    /* background: dodgerblue; */
    text-align: center;
    flex-grow: 1;
  }
  .user-page .main .dp {
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center ;
  }

  .user-page .main .dp > div {
    transform: translate(1rem, 0);
  }

  .user-page .main .interest {
    display: block;
    width: 100%;
  }

  .user-page .main .interest .all {
    width: 100%;
    max-width: none;
  }

  .user-page .main .interest .content {
    position: relative;
    margin: 0 auto;
  }

  .user-page .main .details .collections {
    /* width: 100vw; */
    position: relative;
    width: 100%;
    /* left: -10px; */
  }
}

@media screen and (max-width: 840px) {
  .user-page .main .details {
    position: relative;
    margin: 0 auto;
  }
  .user-page .main .dp {
    position: relative;
    margin: auto;
  }
  .user-page .main .interest {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: auto;
    max-width: 600px;

  }
  .user-page .main .interest .all {
    width: 100%;
  }
}