/* Styles For Watch.js */
.watch {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: black;
}

.watch .watch-body {
  flex-grow: 1;
  /* background: red; */
  padding: 10px;
}

/* Styles for videos */
.watch .watch-body .movieShow {
  display: flex;
  justify-content: space-around;
}

.watch .movieShow .actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  /* background: dodgerblue; */
}

.watch .movieShow .actions .btns {
  display: flex;
  padding-right: 15px;
}

.watch .movieShow .actions .btns > div {
  padding: 3px;
  font-size: 13px;
  text-align: center;
}

.watch .movieShow .actions .btns .icons {
  font-size: 17.5px;
}

.watch .movieShow .actions .btns .icons:nth-of-type(2) {
  color: red !important;
}

.watch .movieShow .vid {
  width: 750px;
  /* background: red; */
  margin-top: 55px;
}

.watch .movieShow .vid .main .theShow {
  width: 740px !important;
  height: auto !important;
  object-fit: cover;
  vertical-align: middle;
  background: var(--apps-black);
}

.watch .movieShow .ratings {
  display: flex;
  justify-content: space-between;
  /* padding-right: 20px; */
  margin-bottom: 10px;
  padding: 0 5px;
}

.watch .movieShow .ratings > .stars > * {
  margin: 0 4px;
  font-size: 19px;
}

.watch .movieShow .room {
    /* background: red; */
    color: #eee;
    min-width: 280px;
    width: 30%;
    min-height: 400px;
    height: 420px;
    padding: 0px 0px 6px 0;  
    margin-top: 50px;
    border: 2px solid rgb(37, 33, 33);
}

.watch .movieShow .room .center {
    text-align: center;
}

.watch .movieShow .room .friends {
    background: none !important;
    position: static !important;
    margin: 0px !important;
    padding: 0px !important;
    /* background: blue !important; */
    width: 100% !important;
    height: 100% !important;
}

.watch .movieShow .room .friends .friend {
    margin: 3px 0px !important;
    padding: 4px 0px 4px 10px;
    width: 100%;
    /* background: red; */
}

.watch .movieShow .room .friends img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    position: relative;
    top: 2px;
    left: 0;
}

.watch .movieShow .room .friends .friend .imgFrame {
    border-radius: 50%;
    background: linear-gradient(to bottom, purple, rgb(214, 57, 83));
    width: 55px;
    height: 55px;
    text-align: center;
}

.watch .movieShow .room .friends .friend .detail {
    /* background: red; */
    flex-grow: 1;
}

.watch .movieShow .room .friends .friend .detail > p {
    display: flex;
    justify-content: space-between;
    /* background: red; */
}

.watch .movieShow .room .friends .friend .detail a {
    color: dodgerblue;
    text-decoration: none;
}

.watch .movieShow .room .friends .friend .detail .connectBtn {
    color: #eee;
    background: rgb(14, 145, 14);
    padding: 3px 10px;
    border: none;
    outline: none;
    border-radius: 2px;
    transform: translateY(-5px);
}

.watch .movieShow .room .chat {
  /* background: green; */
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.watch .movieShow .room .chat header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
}

.watch .movieShow .room .chat header {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-bottom: 2px solid rgb(44, 41, 41);
}

.watch .movieShow .room .chat header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  /* background: red; */
  font-size: 23px;
}

.watch .movieShow .room .chat header > img {
  width: 30px;
  height: 20px;
}

.watch .movieShow .room .chat .chatBoard {
  flex-grow: 1;
}

.watch .movieShow .room .chat form {
  background:rgb(39, 37, 37);
  border-radius: 3px;
  padding: 2px 8px;
  width: 98%;
  position: relative;
  margin: 0 auto;
  height: 40px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch .movieShow .room .chat form > input {
  background: none;
  color: white;
  width: 80%;
  border: none;
  outline: none;
  flex-grow: 1;
}

.watch .movieShow .room .chat form > button {
  border: none;
  outline: none;
  background: none;
  color: dodgerblue;
  font-weight: bold;
  padding: 0 6px
}

/* Styles for cast */
.watch .watch-body .display {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  color: grey;
  font-weight: bold;
}

.watch .watch-body .title {
  font-size: 22px;
  padding: 18px 0;
}

.watch .watch-body .cast {
  flex-grow: 1;
}

.watch .watch-body .cast>p:only-of-type {
  color: grey;
  font-size: 16px;
  margin: 15px 0;
  font-weight: bold;
}

.watch .watch-body .cast-item img {
  width: 100%;
  max-height: 130px;
  padding: 5px;
  border-radius: 8px;
}

.watch .watch-body .cast-item>div>p {
  margin: 5px 10px;
}

.watch .watch-body .others {
  display: flex;
  flex-wrap: wrap;
}

.watch .watch-body .friends {
  max-width: 360px;
  margin-top: 70px;
  margin-left: 10px;
  background: #242222;
  position: relative;
  margin: 70px auto;
}

.watch .watch-body .friend {
  display: flex;
  font-size: 14px;
  color: #eee;
}

.watch .watch-body .friend .detail {
  padding: 5px 15px;
}

/* .watch .watch-body .friends .bordered {
  border: 2.5px solid rgba(73, 73, 75, 0.9);
  border-radius: 4px;
  min-width: 280px;
  position: relative;
  margin: 0 auto;
} */

.watch .watch-body .friends .show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.watch .watch-body .friends .show > p:last-of-type {
  color: #eee;
  font-weight: bold;
  margin: 13px 0 20px 0;
}

.watch .watch-body .friends p.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #eee;
}

.watch .watch-body .friend img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* Recommendations */
.watch .watch-body .recommended {
  width: 100%;
  margin-bottom: 15px;
}
.watch .watch-body .recommended .show {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.watch .watch-body .recommended .show .moviecard {
  max-width: 215px !important;
  flex-shrink: 1;
  margin: 2.5px 5px;
}
.watch .watch-body .recommended .title {
  font-size: 1.3rem;
  margin-left: 15px;
}

/* .watch .watch-body .movieShow .player video {
  width: 100% !important;
} */

@media screen and (max-width: 580px) {
  .watch .watch-body .cast-item img {
    min-height: 140px;
    min-width: 150px;
  }

  .watch .watch-body .friends {
    margin: 0;
  }
  .watch .watch-body .friends .show .friend {
    width: 100%;
  }

  .watch .watch-body .friends .show .friend .detail {
    flex-grow: 3;
  }

  .watch .watch-body .recommended .show {
    /* background: red; */
    flex-direction: column;
  }
  .watch .watch-body .recommended .show > .moviecard {
    /* background: dodgerblue; */
    min-width: 85vw;
    margin: 15px auto !important;
  }
}

@media screen and (max-width: 492px) {
  .watch .watch-body .cast-item {
    width: 100%;
    height: auto;
  }

  .watch .watch-body .cast-item>img {
    min-height: 190px;
  }

  .watch .watch-body .movieShow .vid {
    width: 100vw;
    padding-left: 0px;
  }
  
  .watch .watch-body .movieShow .vid  .main {
    width: 100vw;
    /* height: 500px; */
    position: relative;
    left: -10px;
  }

  .watch .watch-body .movieShow .vid video {
    width: 100vh !important;
    height: auto;
    /* object-fit: scale-down; */
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    vertical-align: middle;
  }
}
