/* General styles */

:root {
  --font-color: rgb(252, 252, 252);
  --background: #16151a;
  --apps-red: rgb(221, 30, 30);
  --apps-grey: #242222;
  --apps-black: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body, html {
  min-height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--font-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

button {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid var(--apps-red);
}

.noborder {
  border: none;
  outline: none;
}

.App {
  width: 100%;
}

/* .children {
  width: 100% !important;
  height: 100% !important;
  background: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
