/* ReactSlider Styles */
.slide-prop-arrow {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.slide-prop-arrow button {
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
}

.slide-prop-arrow-left {
  left: 0%;
  top: 50%;
}

.slide-prop-arrow-right {
  right: 0%;
  top: 50%;
}

.slide-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
  scrollbar-width: thin !important; */
  scroll-behavior: smooth;
  transition: 2s ease-in-out 1s;
}

.slide-container::-webkit-scrollbar, .slide-container::-webkit-scrollbar-track {
  display: none;
}


.slide-container div:not(.slide-prop-arrow) {
  width: 100vw;
  height: 100vh;
  /* background: dodgerblue; */
  /* color: white; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* Styles for the pagination */
.slide-prop-pagination {
  width: 100%;
  height: 20px !important;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-prop-pagination-btn {
  width: 65px !important;
  height: 6px !important;
  color: white !important;
  background: lightgrey !important;
  border-radius: 4px;
  margin: 3px 5px;
  z-index: 9px;
  
}

.slide-prop-pagination-btn .active {
  background: white !important;
}