@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html, body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
.card {
  border-radius: 0px !important;
  min-width: 400px;
  min-height: 300px;
}
.card-header {
  background-color: #7a52b3;
  border-radius: 0px !important;
  margin: 0;
}
.text-grey {
  color: #6c757d;
}
.btn-primary {
  background-color: #7a52b3;
  border: 0px transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
  background-color: #8C5ECC !important;
  border: 0px transparent;
  box-shadow: 0 2px 6px 0 #8C5ECC !important;
}
.purple {
  background-color: #7a52b3;
}
.collapse {
  display: none !important;
}
.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
@media screen and (max-width: 766px) {
  .left {
    display: none;
  }
  .card-header {
    display: none;
  }
  .collapse {
    display: flex !important;
  }
}
